.venv
.venv_py312

.DS_Store

logs
exps

__pycache__

stan24sgllm.egg-info

ckpts
wandb
.vscode/

data/3D-FRONT-martin-rooms-stage-3.zip
data/3D-FRONT-martin-rooms-stage-3
data/front3d-room_meshes
data/3D-FUTURE-assets
data/3D-FRONT-martin-rooms-stage-2-dedup
data/3D-FRONT-martin-rooms-stage-1
data/3D-FRONT.zip
data/3D-FUTURE-assets.old
data/3D-FRONT

eval/viz/
eval/gen/
eval/samples

eval/baselines/ATISS/preprocessing*/
eval/baselines/ATISS/train*/
eval/baselines/ATISS/render/

eval/baselines/mi-diff/MiDiffusion/train-*
eval/baselines/mi-diff/ThreedFront/preprocessing-*

eval/interactive/

dataset-ssr3dfront/
data/metadata/model_info_3dfuture_assets_embeds.pickle
